@mixin headings($from: 1, $to: 6){
    @for $i from $from through $to{
      h#{$i}{
        @content
      }
    }
}


/* ------USAGE-----------
@include headings(){
    font-family:sans-serif;
}

div{
    @include headings(){
      color:red;
    }
}

.sweet{
    @include headings(1,3){
      color:red;
    }
    // headings(4,6) or just headings(4)
    @include headings(4){
      color:blue;
    }
}
*/
